{% extends "::base.html.twig" %}
{% block body %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}